# Dependências
node_modules/
.pnpm-store/

# Build / saída
dist/
build/
.next/
out/

# Ambiente
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Sistema
.DS_Store

# Editores
.vscode/
.idea/
